* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.wrapper .buttons ul {
    list-style: none;
}
body {
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10px;
}
.wrapper {
    width: 605px;
    background: #ffffff;
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
}
.wrapper,
h1,
.content :where(i, p, span) {
    color: #202842;
}
.wrapper h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.wrapper h1::after {
    content: '';
    position: absolute;
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: blueviolet;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper .content {
    margin: 35px 0;
}
.content .quote-area {
    display: flex;
    justify-content: center;
}
.quote-area i {
    font-size: 20px;
}
.quote-area i:first-child {
    margin: 3px 10px 0 0;
    
}
.quote-area i:last-child {
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}
.quote-area .quote {
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
}
.content .author {
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.author span:first-child {
    margin: -6px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons {
    border-top: 1px solid #ccc;
}
.buttons .features {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features ul {
    display: flex;
}
.features ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    width: 47px;
    height: 47px;
    border: 2px solid blueviolet;
    border-radius: 50%;
    color: blueviolet;
    transition: all 0.3s ease;
}
.features ul li:first-child {
    margin-left: 0;
}
.features ul li:hover {
    background: blueviolet;
    color: #fff;
}
ul li:is(:hover, .active) {
    background: blueviolet;
    color: #fff;
}
ul .speech.active {
    pointer-events: none;
}
ul .message {
    position: fixed;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: blueviolet;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
@media (min-width: 767px) and (max-width: 991px) {
    ul .message {
        top: 60%;
        left: 30%;
        transform: translate(-20%, -50%);
    }
}
@media (max-width: 766px) {
    ul .message {
        top: 60%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
}
ul .message.show {
    opacity: 1;
}
.buttons button {
    padding: 13px 22px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: blueviolet;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.buttons button:hover {
    background-color: rgb(75, 27, 117);
}
.buttons button.loading {
    opacity: 0.7;
    pointer-events: none;
}